<h1>Tennis Scorer</h1>
<img src="/tennis.jpg" width="100" height="100"/>

<form action="/jugar" method="post">
	Jugador1<input type="text" name="jugador1"/><br>
	Jugador2<input type="text" name="jugador2"/><br>
	<input type="hidden" name="ganador">
	<input type="submit" value="Jugar"/><br>
</form> 