

<table>
<tr>
	<td>
		<p class="jugador1"><%=@jugador1%></p>
	</td>
	<td>
		<p class="jugador2"><%=@jugador2%></p>
	</td>
</tr>
<tr>
	<td>
		<p class="jugador1"><%=@puntaje1%></p>
	</td>
	<td>
		<p class="jugador2"><%=@puntaje2%></p>
	</td>
</tr>
</table>